<tr>
 <td class = "envio">

 </span>  
 </td>
 <!-- DRY, Fix later.-->
 	<% user = envio.user rescue User.find(envio.idUser) %> 
 	<% if current_user?(user) || current_user.admin? %> 
		<td><%= link_to "delete", envio, 	 :method=> :delete,  
											 :confirm => "You sure?"%>
		</td>
	<% end %> 
</tr>