<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
	<%= render 'fields', :f => f %>  <!--> :f => f, send variable f to the _fields partial</!--> 
	<div class ="actions">
		<%= f.submit "Sign up"%>
	</div>

<% end %> 